.auth-page {
    width: 100%;
    height: 100vh;
    color: #fff;
    position: relative;
    overflow: hidden;

    &__inner {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 100;

        &__title {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
            font-size: 55px;
            font-style: normal;
            font-weight: 900;
            z-index: 100;
        }
    }

    .decor__circle {
        width: 520px;
        height: 520px;
        position: absolute;
        display: block;
        

        &.orange,
        &.purple,
        &.green {
            border-radius: 360px;
            filter: blur(90px);
        }

        &.orange {
            top: 100px;
            left: 100px;
            background: rgba(255, 122, 0, 0.82);
        }

        &.purple {
            top: 700px;
            left: 400px;
            background: rgba(143, 0, 255, 0.82);
        }

        &.green {
            top: 100px;
            left: 1000px;
            background: rgba(0, 255, 71, 0.82);
        }
    }

}